main {
  padding: 1rem;
}

header {
  background-color: #404040;
  padding: 1 rem;
}
header a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.product {
  margin: 1rem;
  background-color: #f0f0f0;
  border: 1px solid #404040;
}

.product img {
  width: 100%;
  max-width: 400px;
}

.product-info {
  padding: 1rem;
}
